/* swiper.css */

/* Apply styles to the Swiper container */
.custom-swiper {
  /* Your styles for the entire Swiper container */
  border-radius: 10px;
}

/* Apply styles to the navigation arrows */
.custom-swiper .swiper-button-prev {
  /* Styles for previous arrow */
  color: #aacd5f;  
}

.custom-swiper .swiper-button-next {
  /* Styles for next arrow */
  color: #aacd5f;
}

/* Styles for the pagination dots */
.custom-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: whitesmoke;
  margin: 0 5px;
  cursor: pointer;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #aacd5f;
}



